
@{
    ViewBag.Title = "BidderProfile";
    Layout = "~/Views/Shared/_LayoutBidder.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <marquee direction="right">
            <h2 class="text-warning">Welcome To Profile Bidder..This Site Is Still Under Construction </h2>

        </marquee>
        <h4>Here You Can Check Cureent Market crop Prices And You Can Bid</h4>

    </div>
</div>

<h2>BidderProfile</h2>


<!DOCTYPE html>
<html>
<style>
    html {
        height: 100%;
        margin: 0;
    }

    body {
        min-height: 100vh;
        width: 100%;
        background: #c8e8e9;
        display: flex;
  @*      align-items: center;
        justify-content: center;*@
    }

    .bgimg {
        background-image: url('http://news.callapr.co.ke/wp-content/uploads/2019/07/auction.jpg');
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    }

    .topleft {
        position: absolute;
        top: 0;
        left: 16px;
    }

    .bottomleft {
        position: absolute;
        bottom: 0;
        left: 16px;
    }

    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: black;
    }

    hr {
        margin: auto;
        width: 40%;
    }
</style>


<body>

    <div class="bgimg">

        <div class="middle">
            <h1>Under Construction</h1>
            <hr>
            <p>Working on It</p>
        </div>

    </div>

</body>
</html>

