
@{
    ViewBag.Title = "Market";
    Layout = "~/Views/Shared/_LayoutBidder.cshtml";
}

<h2>Market</h2>

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>



    <table>
        <tr>
            <th>Crop Name </th>
            <th>Crop Type </th>
            <th>Curent Market Price(Per Ton)</th>

        </tr>
        <tr>
            <td>Rice</td>
            <td>Food Crops</td>
            <td>45000</td>
        </tr>
        <tr>
            <td>Wheat</td>
            <td>Food Crops</td>
            <td>55000</td>
        </tr>
        <tr>
            <td>Rice</td>
            <td>Food Crops</td>
            <td>45000</td>
        </tr>
        <tr>
            <td>Coffee</td>
            <td>Plantation Crop</td>
            <td>79540</td>
        </tr>
        <tr>
            <td>Oil Seed</td>
            <td>Cash Crop</td>
            <td>55740</td>
        </tr>
        <tr>
            <td>Tomato</td>
            <td>Horticulture crops</td>
            <td>8740</td>
        </tr>
    </table>

</body>
</html>

