
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@*<h2>AdminProfile</h2>


<div class="row">
    <div class="col-lg-12">
        <marquee direction="right">
            <h2 class="text-primary">Hello Admin Welcome To Profile </h2>

        </marquee>
        <h4>Here You Can Create Update And Delete Farmer And Bidder Records</h4>
        <h4>Insurance Details also shown here</h4>
    </div>
</div>*@

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("https://cutewallpaper.org/21/admin-wallpapers/Web-dragon-famous-black-admin-background-literally-.jpg");
           
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

    <h2>AdminProfile</h2>


    <div class="row">
        <div class="col-lg-12">
            <marquee direction="right">
                <h2 class="text-light bg-dark">Hello Admin Welcome To Profile </h2>

            </marquee>
            <h4>Here You Can Create Update And Delete Farmer And Bidder Records</h4>
            <h4>Insurance Details also shown here</h4>
        </div>
    </div>


</body>
</html>

